language: python
matrix:
    include:
        - python: 3.7
          env: TOX_ENV=py37
        - python: 3.6
          env: TOX_ENV=py36
        - python: 3.5
          env: TOX_ENV=py35
        - python: 2.7.10
          env: TOX_ENV=py27
        - python: 3.4
          env: TOX_ENV=py34
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
